<div id="workplace_index_tabs">
<ul>
	<li class="tab"><a href="<?php echo $this->baseUrl('workplace/wildspace')?>"><span>Wildspace</span></a></li>
	<li class="tab"><a href="<?php echo $this->baseUrl('workplace/documentexplorer')?>"><span>Documents</span></a></li>
	<li class="tab"><a href="<?php echo $this->baseUrl('workplace/fileexplorer')?>"><span>Files</span></a></li>
	<li class="tab"><a href="<?php echo $this->baseUrl('workplace/productexplorer')?>"><span>Products</span></a></li>
</ul>
</div>

<script type="text/javascript">
	$(document).ready(function() {
		$( '#workplace_index_tabs' ).tabs({ cache: true });
		$( '#workplace_index_tabs' ).tabs( 'option', 'fx', { opacity: 'toggle' } );

		$('#workplace_index_tabs').bind('tabsselect', function(event, ui) {
			event.stopPropagation();
			// Objects available in the function context:
		    //ui.tab     // anchor element of the selected (clicked) tab
		    //ui.panel   // element, that contains the selected/clicked tab contents
		    //ui.index   // zero-based index of the selected (clicked) tab
		    
		    //suppress all refresher
		    $('#workplace_index_tabs > ul .tab img').remove();
		    //add a refresher to active tab
			$(ui.tab.parentNode).append('<img src="<?php echo $this->baseUrl('styles/icons/refresh.png')?>" onClick="rb_workplace_index_tabreload($(\'#workplace_index_tabs\'))"/>');
			return true;
		});
		
	});
	
	function rb_workplace_index_tabreload(tab){
		var selected = tab.tabs( 'option', 'selected' );
		tab.tabs('load',selected);
	}
	
   </script>
