<table border=0>
<tr>
  <td><img src="<?php echo $this->baseUrl(Ranchbe::getConfig()->logo)?>"></td>
  
  <td width="50%"style="text-align:left">
  <h1>
  <?php echo 'Welcome' . ' ' . \Rbplm\People\User::getCurrentUser()->getName() ?><br />
  <?php echo 'You are connected on' . ' <i>RANCHBE</i>&#169; ' . Ranchbe::getFullVersionId() ?><br />
  </h1>
  <h2> ...The design office ranch</h2>
  </td>
</tr>
</table>

<p></p>
<div class="rbbox">
	<form name="contentfilterform" id="contentfilterform" action="./search/index/index" method="post" style="display:inline;background-image: none;">
	
	  <label for="find_name"><small><?php echo tra('Name') ?></small></label>
	  <input size="16" type="text" name="find_name" value="<?php echo $this->filter_options['find_name'] ?>" />
	
	  <input type="hidden" name="filter" value=1 />
	  <input type="submit" name="filter" value="<?php echo tra('search') ?>" />
	</form>
</div>

<p></p>
<div class="rb-box">
	<h2><?php echo tra('New messages') ?></h2>
	<table class="normal">
	</table>
</div>

<p></p>
