<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
<title>sandbox/dojo/jsonreststore</title>
<?php 
	$this->dojo()->enable();
	$this->dojo()->requireModule('dojox.data.JsonRestStore');
	$this->dojo()->requireModule('dijit.tree.ForestStoreModel');
    $this->dojo()->requireModule('dijit.Tree');
    $this->dojo()->requireModule('dojo.parser');
	$this->dojo()->addStylesheetModule('dijit.themes.claro');
	echo $this->dojo();
	//<script type="text/javascript" charset="utf-8" src="http://localhost/rbplm/js/rbdojo/data/stores/lazyTree.js"></script>
?>
    </head>

<!-- http://www.sitepen.com/blog/2010/01/27/efficient-lazy-loading-of-a-tree/ -->
    
    <body class="claro">
        <div dojoType = "dojox.data.JsonRestStore" target="/rbplm/sandbox/dojo/loadtree" jsId="store" labelAttribute="name"></div>

        <div dojoType="dijit.tree.ForestStoreModel" jsId="model" store="store"
		        query="{}" rootLabel="loadTree" deferItemLoadingUntilExpand=true
		        childrenAttrs="children">
        </div>

        <div dojoType="dijit.Tree" id="mytree" model="model">
            <script type="dojo/method" event="onClick" args="item">
                alert("Execute of node " + store.getLabel(item) + ", population=" + store.getValue(item, "population"));
            </script>
        </div>
    </body>

</html>



    


