<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>sandbox/dojo/lazytree</title>
<?php 
	$this->dojo()->enable();
	$this->dojo()->requireModule('dojox.data.JsonRestStore');
	$this->dojo()->requireModule('dojo.data.ItemFileReadStore');
    $this->dojo()->requireModule('dijit.Tree');
    $this->dojo()->requireModule('dojo.parser');
	$this->dojo()->addStylesheetModule('dijit.themes.tundra');
	$this->dojo()->requireModule('rbdojo.data.stores.lazyTree');
	$this->dojo()->requireModule('rbdojo.data.stores.lazyTree2');
	echo $this->dojo();
	//<script type="text/javascript" charset="utf-8" src="http://localhost/rbplm/js/rbdojo/data/stores/lazyTree.js"></script>
?>
</head>

<body class="tundra">
	<div id="content">
		Lazy load tree:
		<div dojoType="rbdojo.data.stores.lazyTree" jsId="lazytree" url="<?php echo RBPLM_ROOT_URL ?>sandbox/dojo/loadtree"></div>
		<div dojoType="dijit.Tree" id=tree label="lazy" store="lazytree" query="{type:'category'}" labelAttr="name" typeAttr="type"></div>
		
		Lazy load tree 2:
		<div dojoType="rbdojo.data.stores.lazyTree2" jsId="lazytree2" url="<?php echo RBPLM_ROOT_URL ?>sandbox/dojo/loadfiletree"></div>
		<div dojoType="dijit.Tree" id=tree2 label="lazy2" store="lazytree2" query="{type:'category'}" labelAttr="name" typeAttr="type"></div>
		
	</div>
</body>
</html>

<a href="http://download.dojotoolkit.org/release-1.0.2/dojo-release-1.0.2/dojox/data/demos/demo_LazyLoad.html">Demo</a>

