<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>Application running</title>
</head>
<body>
    <h1>Application running</h1>
    <p>hooray application is running.</p>
    
      <?php // setup data store for FilteringSelect ?>
      <div dojoType="custom.PairedStore" jsId="stateStore"
          url="/data/autocomplete/type/state/format/ajax"
          requestMethod="get"></div>
      <?php // Input element: ?>
      State: <input id="state" dojoType="dijit.form.FilteringSelect"
          store="stateStore" pageSize="5" />
      <?php // setup required dojo elements:
      $this->dojo()->enable()
                   ->setDjConfigOption('parseOnLoad', true)
                   ->registerModulePath('custom', '../custom/')
                   ->requireModule('dijit.form.FilteringSelect')
                   ->requireModule('custom.PairedStore'); ?>    
</body>
</html>

