<div><h1 class="pagetitle">Configuration</h1></div>

<?php
/*
	<div id="config-tabs">
		<ul>
			<li><a href="<?php echo $this->baseUrl('default/config/lang')?>"><span>Language</span></a></li>
			<li><a href="<?php echo $this->baseUrl('default/config/phpsettings')?>"><span>PHP Settings</span></a></li>
			<li><a href="<?php echo $this->baseUrl('default/config/db')?>"><span>Data base</span></a></li>
			<li><a href="<?php echo $this->baseUrl('default/config/log')?>"><span>Log</span></a></li>
			<li><a href="<?php echo $this->baseUrl('default/config/layout')?>"><span>Layout</span></a></li>
			<li><a href="<?php echo $this->baseUrl('default/config/date')?>"><span>Date</span></a></li>
			<li><a href="<?php echo $this->baseUrl('default/config/path')?>"><span>Reposits paths</span></a></li>
			<li><a href="<?php echo $this->baseUrl('default/config/icons')?>"><span>Icons and visu</span></a></li>
			<li><a href="<?php echo $this->baseUrl('default/config/menu')?>"><span>Menu</span></a></li>
			<li><a href="<?php echo $this->baseUrl('default/config/mail')?>"><span>Mail</span></a></li>
			<li><a href="<?php echo $this->baseUrl('default/config/externaltools')?>"><span>External tools</span></a></li>
			<li><a href="<?php echo $this->baseUrl('default/config/workflow')?>"><span>Workfow</span></a></li>
			<li><a href="<?php echo $this->baseUrl('default/config/mask')?>"><span>Objects basic</span></a></li>
			<li><a href="<?php echo $this->baseUrl('default/config/security')?>"><span>Security rules</span></a></li>
		</ul>
	</div>
*/
?>

<div id="accordion">
	<h3><a href="#"><span>Language</span></a></h3>
	<div>
		<?php echo $this->action('lang', 'config', 'default'); ?>
	</div>
	<h3><a href="#"><span>PHP Settings</span></a></h3>
	<div>
		<?php echo $this->action('phpsettings', 'config', 'default'); ?>
	</div>
	<h3><a href="#"><span>Data base</span></a></h3>
	<div>
		<?php echo $this->action('db', 'config', 'default'); ?>
	</div>
	<h3><a href="#"><span>Log</span></a></h3>
	<div>
		<?php echo $this->action('log', 'config', 'default'); ?>
	</div>
	<h3><a href="#"><span>Layout</span></a></h3>
	<div>
		<?php echo $this->action('layout', 'config', 'default'); ?>
	</div>
	<h3><a href="#"><span>Date</span></a></h3>
	<div>
		<?php echo $this->action('date', 'config', 'default'); ?>
	</div>
	<h3><a href="#"><span>Reposits paths</span></a></h3>
	<div>
		<?php echo $this->action('path', 'config', 'default'); ?>
	</div>
	<h3><a href="#"><span>Icons and visu</span></a></h3>
	<div>
		<?php echo $this->action('icons', 'config', 'default'); ?>
	</div>
	<h3><a href="#"><span>Menu</span></a></h3>
	<div>
		<?php echo $this->action('menu', 'config', 'default'); ?>
	</div>
	<h3><a href="#"><span>Mail</span></a></h3>
	<div>
		<?php echo $this->action('mail', 'config', 'default'); ?>
	</div>
	<h3><a href="<?php echo $this->baseUrl('default/config/externaltools')?>"><span>External tools</span></a></h3>
	<div>
		<?php echo $this->action('externaltools', 'config', 'default'); ?>
	</div>
	<h3><a href="<?php echo $this->baseUrl('default/config/workflow')?>"><span>Workfow</span></a></h3>
	<div>
		<?php echo $this->action('workflow', 'config', 'default'); ?>
	</div>
	<h3><a href="<?php echo $this->baseUrl('default/config/mask')?>"><span>Objects basic</span></a></h3>
	<div>
		<?php echo $this->action('workflow', 'config', 'mask'); ?>
	</div>
	<h3><a href="<?php echo $this->baseUrl('default/config/security')?>"><span>Security rules</span></a></h3>
	<div id="d4">
		<?php echo $this->action('workflow', 'config', 'security'); ?>
	</div>
</div>

	<script>
		/*
	    $('#accordion').accordion({
	        changestart: function(event, ui){
                var active = $(this).find('.ui-state-active');
                var hrefs = $("a", active);
                var myurl = hrefs[0].href;
                //var contentDiv = $("div", active);
                var contentDiv = ui.newContent;
                contentDiv.load(myurl);
                return false;
	        }
		});
		*/
	    $('#accordion').accordion({
		});
   </script>

      