<script type="text/javascript">
	$.jgrid.no_legacy_api = true;
	$.jgrid.useJSON = true;
	
	var projectMenu1 = [
	             {'Edit': function(menuItem, menu) {
	          		return true;
	          	}}, 
	          	{'Rename': function(menuItem, menu) {
	          		return true;
	          	}}, 
	          	{'Delete': function(menuItem, menu) {
	          		return true;
	          	}} 
	          ];
	
	var projectTemplate1 = {
			"groupOp": "AND", 
			"rules": [{
				"field": "b.name", 
				"op": "bw", 
				"data": "Client 1" 
				},{
				"field": "a.amount", 
				"op": "gt", 
				"data": "20"}]};
	
	var projectTemplate2 = { 
			"groupOp": "AND", 
			"rules": [{
					"field": "b.name", 
					"op": "eq", 
					"data": "Client 2" 
				},{
					"field": "a.id", 
					"op": "le", 
					"data": "10"
				}]};

jQuery(document).ready(function(){
	var id = "<?php echo $this->widget->getId()?>";
	var pagerId = id + '-pager';
	var detailId = id + '-detail';
	
	$('#' + detailId).hide();
	
	$('#' + id).jqGrid({ 
		url: "<?php echo $this->baseUrl('project/index/list'); ?>",
		datatype: 'json',
		postData: {columns:['name', 'label', 'parent', 'path']},
		colNames:['Name','Label', 'Parent','Path'],
		colModel:[
				{name:'name',index:'name', width:320, align:"left"},
				{name:'label',index:'label', width:320, align:"left"},
				{name:'parent',index:'parent', width:320, align:"left"},
				{name:'path',index:'path', width:500, align:"left"}
				],
		rowNum:50,
		rowList:[10,20,30,50,100,500],
		pager: '#' + pagerId,
		sortname: 'name',
		viewrecords: true,
		sortorder: 'desc',
		caption:'Projects',
		multiselect: true,
		autowidth:true,
		afterInsertRow: function(rowid, rowdata, rowelem){
			var myMenu = projectMenu1;
			$('#' + rowid).contextMenu(myMenu, {theme:'vista'});
		},
		ondblClickRow: function(ids) {
			alert( 'Id of selected row :' + ids );
		}
		});
	$('#' + id).jqGrid('navGrid','#' + pagerId, 
			{edit:true,add:true,del:true}, 
			{}, 
			{}, 
			{}, 
			{
				multipleSearch:true, 
				multipleGroup:true,
				showQuery: false,
				"tmplNames" : ["Name or Label", "State"],
				"tmplFilters": [projectTemplate1, projectTemplate2]
			});
});
</script>

<h2><?php echo $this->widget->getTitle(); ?></h2>

<table id="<?php echo $this->widget->getId()?>"></table>

<div id="<?php echo $this->widget->getId()?>-pager"></div> 

<div class="ui-widget ui-widget-content ui-corner-all" id="<?php echo $this->widget->getId()?>-detail">
	<p></p>
</div>
