<?php 
	$this->jQuery()->enable();
	$this->jQuery()->uiEnable();
	
	$this->jQuery()->setLocalPath( $this->baseUrl('js/jquery/jquery.min.js') )
				   ->setUiLocalPath( $this->baseUrl('js/jqueryui/jquery-ui.custom.min.js') )
				   ->addStyleSheet( $this->baseUrl('styles/base/jquery-ui.css') )
				   ->addStyleSheet( $this->baseUrl('js/jqueryui/css/smoothness/jquery-ui.custom.css') )
				   ->addJavascriptFile( $this->baseUrl('js/jquery/jquery.i18n.properties.js') )
				   ->addJavascriptFile( $this->baseUrl('js/jquery/jquery.blockUI.js') )
				   ->addJavascriptFile( $this->baseUrl('js/rb/jquery.rb.src.js') );
?>

<style>
.iconselect li {
    display: inline;
    float: left;
    list-style: none outside none;
    margin: 0;
}
.iconselect li img {
    border: 1px solid #EEEEEE;
    float: left;
    height: 16px;
    padding: 2px;
    width: 16px;
}
.iconselect li img:hover {
    background: none repeat scroll 0 0 #EEEEEE;
    border: 1px solid #0063DC;
}
.iconselect .selected {
    background: none repeat scroll 0 0 #EEEEEE;
    border: 5px solid #0063DC;
}
</style>

<div id="selecticon-div">
	<input type="hidden" value="/rbplm/styles/icons/Activity.gif" id="selecticon" name="myicon" />
	<img src="/rbplm/styles/icons/Activity.gif" alt="icons/Activity.gif" id="selecticon-img" />
	<ol class="iconselect">
		<li>
			<img src="/rbplm/styles/icons/Activity.gif" alt="icons/Activity.gif" />
		</li>
		<li>
			<img src="/rbplm/styles/icons/asc.png" alt="icons/Activity.gif" />
		</li>
		<li>
			<img src="/rbplm/styles/icons/attach.png" alt="icons/Activity.gif" />
		</li>
	</ol>
</div>

<div id="selecticon-dialog">
</div>

<script type="text/javascript">
jQuery(function() {
	jQuery("#selecticon-dialog").hide();
	jQuery("#selecticon-img").click(function(e){
		var path = "";
		$.get(
			jQuery.rb.get_base_url('/getFiles'),
			{ 'path': path, 'mask': '*.png' },
			function(data, textStatus, jqXHR){
				$( '#selecticon-dialog' ).html(data);
			}
		);
		$( '#selecticon-dialog' ).dialog({
			height:350,
			width: 400,
			modal: true,
			title: eval('title_create_object'),
			buttons: {}
		});
	});
});
</script>
