<script type="text/javascript">
function test(){
	var myjqxhr = jQuery.ajax({
			url: "<?php echo $this->baseUrl('/object/index/cmenu'); ?>",
			async:   false
	});
	mymenu = jQuery.parseJSON( myjqxhr.responseText );
	alert(mymenu);
}
</script>

<div onClick="javascript:test(); return false;">test</div>


<script type="text/javascript">
$(document).ready(function(){
	var script = "/rbplm/js/jquery/jquery.min.js";
	jQuery.rb.include(script);
	var script2 = "/rbplm/js/rb/jquery.rb.wsExplorer.src.js";
	jQuery.rb.include(script2);
});
</script>

