<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta charset="UTF-8" />
<title>sandbox/jquery</title>

<link rel="stylesheet" type="text/css" media="screen" href="/rbplm/styles/base/jquery-ui.css" />
<link rel="stylesheet" type="text/css" media="screen" href="/rbplm/js/jqgrid/css/ui.jqgrid.css" />
<link rel="stylesheet" type="text/css" media="screen" href="/rbplm/js/jqgrid/css/ui.multiselect.css" />

<script src="/rbplm/js/jqueryui/jquery-ui.custom.min.js" type="text/javascript"></script>
<script src="/rbplm/js/jqgrid/i18n/grid.locale-en.js" type="text/javascript"></script>
<script src="/rbplm/js/jqgrid/plugins/ui.multiselect.js" type="text/javascript"></script>
<script src="/rbplm/js/jqgrid/jquery.jqGrid.min.js" type="text/javascript"></script>
<script src="/rbplm/js/jqgrid/plugins/jquery.tablednd.js" type="text/javascript"></script>
<script type="text/javascript">
	$.jgrid.no_legacy_api = true;
	$.jgrid.useJSON = true;
</script>

<link rel="stylesheet" type="text/css" media="screen" href="/rbplm/js/contextmenu/css/jquery.contextmenu.css" />
<script src="/rbplm/js/contextmenu/jquery.contextmenu.src.js" type="text/javascript"></script>

</head>
<body>

<script type="text/javascript">

var menu1 = [ 
    {'Option 1': function(menuItem,menu) {
		alert("You clicked Option 1!"); 
	}}, 
	$.contextMenu.separator, 
	{'Option 2': function(menuItem,menu) {
		alert("You clicked Option 2!"); 
	}} 
]; 

function buildMenuTest($id){
	var d = new Date(); 
	var o1 = {}; 
	o1[d.toString()] = function(){}; 
	d.setDate(d.getDate()+1); 
	var o2 = {}; 
	o1[d.toString()]=function(){}; 
	d.setDate(d.getDate()+1); 
	var o3 = {}; 
	o1[d.toString()]=function(){}; 
	return [ o1,o2,o3 ];
}

function buildMenu($id){
	var o1 = {}; 
	o1['Option 1-of id ' + $id] = function(menuItem,menu) {
		alert("You clicked Option 1!"); 
	};
	var o2 = $.contextMenu.separator;
	var o3 = {}; 
	o3['Option 3-of id ' + $id] = function(menuItem,menu) {
		alert("You clicked Option 3!"); 
	};
	return [ o1,o2,o3 ];
}

function buildMenuAjax($id){
}

var template1 = { 
		"groupOp": "AND", 
		"rules": [{
			"field": "b.name", 
			"op": "bw", 
			"data": "Client 1" 
			},{
			"field": "a.amount", 
			"op": "gt", 
			"data": "20"}]};

var template2 = { 
		"groupOp": "AND", 
		"rules": [{
				"field": "b.name", 
				"op": "eq", 
				"data": "Client 2" 
			},{
				"field": "a.id", 
				"op": "le", 
				"data": "10"
			}]};

	jQuery(document).ready(function(){
		jQuery('#list2').jqGrid({ 
	    	url: '/rbplm/sandbox/jquery/jqgriddata',
			datatype: 'json', 
			colNames:['Inv No','Date', 'Client', 'Amount','Tax','Total','Notes'], 
			colModel:[ 
					{name:'id',index:'id', width:55},
					{name:'invdate',index:'invdate', width:90}, 
					{name:'name',index:'name asc, invdate', width:100}, 
					{name:'amount',index:'amount', width:80, align:"right"}, 
					{name:'tax',index:'tax', width:80, align:"right"}, 
					{name:'total',index:'total', width:80,align:"right"}, 
					{name:'note',index:'note', width:150, sortable:false} ], 
			rowNum:10, 
			rowList:[10,20,30], 
			pager: '#pager2', 
			sortname: 'id', 
			viewrecords: true, 
			sortorder: 'desc', 
			caption:'JSON Example',
			multiselect: true,
			ondblClickRow: function(ids) {
				alert( 'Id of selected row :' + ids );
			},
			afterInsertRow: function(rowid, rowdata, rowelem){
				$('#' + rowid).contextMenu(menu1, {theme:'vista'});
			}
			});
//		jQuery("#list2").jqGrid('navGrid','#pager2',{edit:false,add:false,del:false});
		jQuery("#list2").jqGrid('navGrid','#pager2', 
				{edit:true,add:true,del:true}, 
				{}, 
				{}, 
				{}, 
				{
					multipleSearch:true, 
					multipleGroup:true,
					showQuery: false,
					"tmplNames" : ["Template One", "Template Two"],
					"tmplFilters": [template1, template2]
				});
	});
</script>

<table id="list2"></table>
<div id="pager2"></div> 
<div id="detail"></div> 

</body>
</html>

