<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>sandbox/jquery</title>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6/jquery.min.js"></script>
</head>


<body>
   <a href="http://jquery.com/" id="test">Test</a>
   
   <a href="http://docs.jquery.com/Main_Page">jQuery doc</a>
   <a href="http://jqueryui.com/">jQuery UI doc</a>

   <script>
     $(document).ready(function(){
       $("#test").click(function(event){
         alert("As you can see, the link no longer took you to jquery.com");
         event.preventDefault();
       });

       //Adding and Removing an HTML Class
       $("#test").addClass("test");
       //$("a").removeClass("test");

		//Special Effects 
       $("#test").click(function(event){
    	   event.preventDefault();
    	   $(this).hide("slow");
    	});
    	 
     });
   </script>
</body>
</html>
