<link rel="stylesheet" type="text/css" media="screen" href="<?php echo $this->baseUrl('styles/base/jquery-ui.css'); ?>" />
<link rel="stylesheet" type="text/css" media="screen" href="<?php echo $this->baseUrl('js/jqgrid/css/ui.jqgrid.css'); ?>" />
<link rel="stylesheet" type="text/css" media="screen" href="<?php echo $this->baseUrl('js/jqgrid/css/ui.multiselect.css'); ?>" />

<!--  respect order of inclusion of grid.locale-en.js before jquery.jqGrid.min.js -->
<script type="text/javascript" src="<?php echo $this->baseUrl('js/jqueryui/jquery-ui.custom.min.js'); ?>"></script>
<script type="text/javascript" src="<?php echo $this->baseUrl('js/jqgrid/i18n/grid.locale-en.js'); ?>"></script>
<script type="text/javascript" src="<?php echo $this->baseUrl('js/jqgrid/plugins/ui.multiselect.js'); ?>"></script>
<script type="text/javascript" src="<?php echo $this->baseUrl('js/jqgrid/jquery.jqGrid.min.js'); ?>"></script>
<script type="text/javascript" src="<?php echo $this->baseUrl('js/jqgrid/plugins/jquery.tablednd.js'); ?>"></script>

<link rel="stylesheet" type="text/css" media="screen" href="<?php echo $this->baseUrl('js/contextmenu/css/jquery.contextmenu.css'); ?>" />
<script type="text/javascript" src="<?php echo $this->baseUrl('js/contextmenu/jquery.contextmenu.src.js'); ?>"></script>


<table id="list"></table>
<div id="pager"></div> <br />


<script type="text/javascript">
jQuery(document).ready(function(){ 
  jQuery("#list").jqGrid({
    url:'/rbplm/sandbox/jquery/jqgriddata',
    datatype: 'json',
    mtype: 'GET',
    colNames:['Inv No','Date', 'Amount','Tax','Total','Notes'],
    colModel :[ 
      {name:'invid', index:'invid', width:55}, 
      {name:'invdate', index:'invdate', width:90}, 
      {name:'amount', index:'amount', width:80, align:'right'}, 
      {name:'tax', index:'tax', width:80, align:'right'}, 
      {name:'total', index:'total', width:80, align:'right'}, 
      {name:'note', index:'note', width:150, sortable:false} 
    ],
    pager: '#pager',
    rowNum:10,
    rowList:[10,20,30],
    sortname: 'invid',
    sortorder: 'desc',
    viewrecords: true,
    caption: 'My first grid',
    subGrid: true,
    subGridUrl : "/rbplm/sandbox/jquery/jqgriddata",
    subGridModel : [ 
      {
      name:['Inv No','Date', 'Amount','Tax','Total','Notes'],
      width : [55, 200, 80, 80, 80, 80],
      align : ['left','left','left','left','left','left']
      }
    ]
  });

	$( "#sortable" ).sortable();
	$( "#sortable" ).disableSelection();
	
}); 
</script>

<style>
	#sortable { list-style-type: none; margin: 0; padding: 0; width: 60%; }
	#sortable li { margin: 0 3px 3px 3px; padding: 0.4em; padding-left: 1.5em; font-size: 1.4em; height: 18px; }
	#sortable li span { position: absolute; margin-left: -1.3em; }
</style>

<ul id="sortable">
	<li class="ui-state-default"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>Item 1</li>
	<li class="ui-state-default"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>Item 2</li>
	<li class="ui-state-default"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>Item 3</li>
	<li class="ui-state-default"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>Item 4</li>
	<li class="ui-state-default"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>Item 5</li>
	<li class="ui-state-default"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>Item 6</li>
	<li class="ui-state-default"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>Item 7</li>
</ul>
