<select id="select" class="myclass">
<option value="option1">option1</option>
<option value="option2">option2</option>
<option value="option3">option3</option>
<option value="option4">option4</option>
<option value="option5">option5</option>
</select>


<script type="text/javascript">
$('#select').selectmenu({
	'style': 'dropdown', 
	'width': 400, 
	'menuWidth': 800,
	'handleWidth': 200,
	'maxHeight': 300
	});
</script>
