<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>sandbox/jquery</title>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6/jquery.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.14/jquery-ui.min.js" type="text/javascript"></script>
	<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.14/themes/base/jquery-ui.css" type="text/css" media="all" />
	<link rel="stylesheet" href="http://static.jquery.com/ui/css/demo-docs-theme/ui.theme.css" type="text/css" media="all" />
</head>

<body>
	<div id="tabs">
		<ul>
			<li><a href="#tabs-1">Tab1</a></li>
			<li><a href="#tabs-2">Tab2</a></li>
			<li><a href="#tabs-3">Tab3</a></li>
			<li><a href="/rbplm/sandbox/jquery/gettabcontent/name/tab1"><span>Content 1</span></a></li>
			<li><a href="/rbplm/sandbox/jquery/gettabcontent/name/tab2"><span>Content 2</span></a></li>
			<li><a href="/rbplm/sandbox/jquery/gettabcontent/name/tab3"><span>Content 3</span></a></li>
		</ul>
		<div id="tabs-1">
		</div>
		<div id="tabs-2">
			HELLO
		</div>
		<div id="tabs-3">
		</div>
	</div>

   <script>
		$(function() {
			$( "#tabs" ).tabs({ cache: true });
			$( "#tabs" ).tabs( "option", "fx", { opacity: 'toggle' } );
			//$( "#tabs" ).tabs( "option", "spinner", '...' );
		});
		$("#tabs-3").html('contenu de tab 3');
   </script>
</body>

</html>
