    
   
<link href="/rbplm/js/wdContextMenu/css/contextmenu.css" rel="stylesheet" type="text/css" />
<script src="/rbplm/js/wdContextMenu/jquery.contextmenu.js" type="text/javascript"></script>

<script type="text/javascript">
function menuAction(myElement){
	alert("Click on " + myElement.id);
}
var option = { width: 150, items: [
                                   { text: "Item One", icon: "images/contextmenu/m_arrow.gif", alias: "1-1", action: menuAction }
                                   ]
                           	};
$().ready(function() {
	$("#target").contextmenu(option);
});
</script>

<div id="target"  class="target">Right Click Here</div>

