<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>sandbox/jquery</title>
	
    <link href="/rbplm/js/jquery/wdTree/css/tree.css" rel="stylesheet" type="text/css" />
    <script src="/rbplm/js/jquery/jquery.tree.js" type="text/javascript"></script>
    
    <style type="text/css">
    body {
		color:#000; /* MAIN BODY TEXT COLOR */
		font-family:"Lucida Grande","Lucida Sans Unicode",Arial,Verdana,sans-serif; /* MAIN BODY FONTS */
		}
		.demo{
      float:left;
      width:260px;
    }
    .docs{
      margin-left: 265px;
    }
    a.button{
      font-size: 0.8em;
      margin-right: 4px;
    }
    </style>
    <meta charset="UTF-8" />
</head>
<body>

<div style="padding:10px;"> 
  <div class="demo">
    <div style="margin-bottom:5px;">
        <a class="button" href="javascript:void(0);" id="reflashnode0">Refresh root-0</a>
    </div>
    <div style="border-bottom: #c3daf9 1px solid; border-left: #c3daf9 1px solid; width: 250px; height: 500px; overflow: auto; border-top: #c3daf9 1px solid; border-right: #c3daf9 1px solid;">
        <div id="tree"></div>
    </div>
  </div>
</div>

    <script type="text/javascript">
        var userAgent = window.navigator.userAgent.toLowerCase();
        $.browser.msie8 = $.browser.msie && /msie 8\.0/i.test(userAgent);
        $.browser.msie7 = $.browser.msie && /msie 7\.0/i.test(userAgent);
        $.browser.msie6 = !$.browser.msie8 && !$.browser.msie7 && $.browser.msie && /msie 6\.0/i.test(userAgent);
        function load() {
            var o = {showcheck: true,
              onnodeclick: function(item){alert(item.id + '--path:' + item.value);},
              url: "/rbplm/sandbox/jquery/treedata",
              cbiconpath: "/rbplm/js/jquery/wdTree/css/images/icons/",
            };
            o.data = [ {
                "id" : "01234567-0123-0123-0123-0123456789ab",
                "text" : "RanchbePlm",
                "value" : "/RanchbePlm",
                "showcheck" : true,
                "complete" : false,
                "isexpand" : false,
                "checkstate" : 0,
                "hasChildren" : true
            }];
            $("#tree").treeview(o);
            $("#reflashnode10").click(function(e) {
                $("#tree").reflash("01234567-0123-0123-0123-0123456789ab"); // id of the node to be reloaded
            });
        }
        if( $.browser.msie6)
        {
            load();
        }
        else{
            $(document).ready(load);
        }
    </script>
</body>
</html>
