<script type="text/javascript">
jQuery.rb.mockupExplorer = {
		rename: function (menuItem, menu, fileName, title) {
			var newName = prompt(title, fileName );
			if(newName == null){
				return false;
			}
			$.ajax({
				type: "POST",
				url:jQuery.rb.baseurl + '/mockup/index/rename',
				data: "newName=" + newName + "&oldName=" + fileName,
				success: function(data, textStatus, jqXHR){
			    	jQuery('#' + menu.gridid).trigger('reloadGrid');
				},
				error: function(data, textStatus, jqXHR){
					alert( jQuery.i18n.prop('msg_error_rename', fileName, newName, textStatus) );
				}
			});
			return true;
		},
		create: function (menuItem, menu, fileName) {
			jQuery.rb.popup(jQuery.rb.baseurl + '/mockup/index/create', {height:800, width:1000});
			return true;
		},
		suppress: function (menuItem, menu, fileName) {
			var s = jQuery('#' + menu.gridid).jqGrid('getGridParam', 'selarrrow');
			var names = new Array();
			var rowIds = new Array();
			var msg = eval('msg_suppress_warning');
			var ulmsg = $( '#' + jQuery.rb.dialog + ' > ul' )[0];
			var li = '';
			$.each(s, function(i, rid){
				rowIds[i] = rid;
				names[i] = jQuery('#' + menu.gridid).getCell(rid, 1);
			  	li = li + '<li>' + names[i] + '</li>';
		  	});
			ulmsg.innerHTML = li
			var pmsg = $( '#' + jQuery.rb.dialog + ' > p' )[0];
			if(names.length == 0){
				jQuery.rb.empty_selection_alert();
				return false;
			}
			pmsg.textContent = msg;
			$( '#' + jQuery.rb.dialog ).dialog({
				resizable: true,
				height:350,
				width: 400,
				modal: true,
				title: eval('msg_deletion_confirmation_title'),
				hide: 'explode',
				show: 'explode',
				buttons: {
					"Ok": function() {
						$.ajax({
					 		type: "POST",
					 		url:jQuery.rb.baseurl + '/mockup/index/suppress',
							  	data: "cheked=" + $.JSON.encode(names),
							    error: function(jqXHR, textStatus, errorThrown){
								    alert(eval('msg_error_notification'))
								},
							    success: function(data, textStatus, jqXHR){
						       		$.each(names, function(i, name){
							          		var j = jQuery.inArray( name, data['notsup'] );
							          		if(j > -1){
												alert( jQuery.i18n.prop('msg_suppression_error_notification', name, data['msgs'][j]) );
							          		}
							          		else{
							       				jQuery('#' + menu.gridid).delRowData(rowIds[i]);
							          		}
						           	});
								}
						});
						$( this ).dialog( "close" );
					},
					Cancel: function() {
						$( this ).dialog( "close" );
						$( this ).dialog( "destroy" );
					}
				}
			});
			return true;
		},
		histo: function (menuItem, menu, fileName) {
			jQuery.rb.popup(jQuery.rb.baseurl + '/mockup/history/index', {height:800, width:1000});
			return true;
		},
		stats: function (menuItem, menu, fileName) {
			jQuery.rb.popup(jQuery.rb.baseurl + '/mockup/stats/index', {height:800, width:1000});
			return true;
		},
		import: function (menuItem, menu, fileName) {
			jQuery.rb.popup(jQuery.rb.baseurl + '/mockup/import/index', {height:800, width:1000});
			return true;
		},
		perms: function (menuItem, menu, fileName) {
			jQuery.rb.popup(jQuery.rb.baseurl + '/mockup/perms/index', {height:800, width:1000});
			return true;
		},
		menu1:[
	         	{'button_create': {
	            	'onclick': function(menuItem, menu) {
	    				return jQuery.rb.mockupExplorer.create(menuItem, menu);
	            	},
	            	'className': 'rb-btn rb-btn-add'
	         		}
	            },
	         	{'button_rename': {
	            	'onclick': function(menuItem, menu) {
	             		var title = this.cells[1].title;
	            		var name = this.cells[1].textContent;
	            		return jQuery.rb.mockupExplorer.rename(menuItem, menu, name, title);
	            	},
	         		'className': 'rb-btn rb-btn-move'
		            }
	            },
	         	{'button_delete': {
	            	'onclick': function(menuItem, menu) {
	            		return jQuery.rb.mockupExplorer.suppress(menuItem, menu);
	            	},
	         		'className': 'rb-btn rb-btn-delete'
		            }
	            },
	         	{'button_histo': {
	            	'onclick': function(menuItem, menu) {
	    				return jQuery.rb.mockupExplorer.histo(menuItem, menu);
	            	},
	            	'className': 'rb-btn rb-btn-histo'
	         		}
	            },
	         	{'button_stats': {
	            	'onclick': function(menuItem, menu) {
	    				return jQuery.rb.mockupExplorer.stats(menuItem, menu);
	            	},
	            	'className': 'rb-btn rb-btn-stat'
	         		}
	            },
	         	{'button_import': {
	            	'onclick': function(menuItem, menu) {
	    				return jQuery.rb.mockupExplorer.import(menuItem, menu);
	            	},
	            	'className': 'rb-btn rb-btn-import'
	         		}
	            },
	         	{'button_perms': {
	            	'onclick': function(menuItem, menu) {
	    				return jQuery.rb.mockupExplorer.perms(menuItem, menu);
	            	},
	            	'className': 'rb-btn rb-btn-key'
	         		}
	            }
		       ]
};
jQuery.extend( jQuery.rb.mockupExplorer.options, jQuery.jgrid );


jQuery(document).ready(function(){
	var id = '<?php echo $this->widget->getId()?>';
	var idPager = id + '-pager';
	var idDetail = id + '-detail';
	var idFilepicker = id + '-filepicker';
	
	$("#"+id).jqGrid({
		url: jQuery.rb.get_base_url() + '/mockup/index/list?format=json',
		datatype: "json",
		rowNum:10,
		rowList:[10,50,100,500],
		pager: '#' + idPager,
		sortname: 'name',
		recordpos: 'left',
		viewrecords: true,
		sortorder: "asc",
		multiselect: true,
		caption: eval('title_mockup_explorer_title'),
		autowidth:true,
		afterInsertRow: function(rowid, rowdata, rowelem){
			var myMenu = jQuery.rb.mockupExplorer.menu1;
			$('#' + rowid).contextMenu(myMenu, {theme:'vista', gridid:this.id});
		},
		postData: {columns:['name', 'label', 'parent', 'path']},
		colNames:[eval('pn_name'), eval('pn_label'),eval('pn_parent'), eval('pn_path')],
		colModel:[
			{name:'name',index:'name', width:320, hidden:false, editable:true, edittype:'file', editoptions:{}, editrules:{}, formoptions:{}},
			{name:'label',index:'label', width:320, hidden:false, editable:true, edittype:'file', editoptions:{}, editrules:{}, formoptions:{}},
			{name:'parent',index:'parent', width:320, align:"left"},
			{name:'path',index:'path', width:500, align:"left"}
			]
		});
	//add a button to show menu on multi-selection
	$("#"+id).jqGrid('navGrid','#'+idPager,{add:false,del:false,edit:false,position:'right'})
		.navButtonAdd('#'+idPager, {
			caption:"Menu", 
			buttonicon:"ui-icon-carat-1-s", 
			position:"first",
			onClickButton: function(e){
				var options = {'theme':'vista', 'gridid':id};
				var cmenu = $.contextMenu.create(jQuery.rb.mockupExplorer.menu1, options);
				cmenu.show(this,e);
				return false;
			}
		});
});
</script>

<h2><?php echo $this->widget->getTitle(); ?></h2>
<table id="<?php echo $this->widget->getId()?>"></table>
<div id="<?php echo $this->widget->getId()?>-pager"></div> <br />
