/* CSS Document */

.pagetitle:hover {
	color:   #3184A5;
}

.link:hover {
	color:   #EFEFE7;
  	background-color: #1D7EAE;
}

.prevnext:hover {
	color:   #636363;
}

.linkbut:hover {
	color:   #636363;
}

