
	<div id="tabs-admin">
		<ul>
			<li><a href="<?php echo $this->baseUrl('vault')?>"><span>Vault</span></a></li>
			<li><a href="<?php echo $this->baseUrl('workflow')?>"><span>Workflow</span></a></li>
			<li><a href="<?php echo $this->baseUrl('default/config')?>"><span>Config</span></a></li>
		</ul>
	</div>

   <script>
		$(function() {
			$( "#tabs-admin" ).tabs({ cache: true });
			//$( "#tabs" ).tabs( "option", "fx", { opacity: 'toggle' } );
		});
   </script>
