<h1 class="pagetitle"><?php echo tra($this->PageTitle) ?></h1>

<br /><hr />
<?php echo $this->form; ?>

<hr /><br />

<table class="normal">
<tr><td>
  {section name=graphs loop=$graphs}
  {$graphs[graphs].image}<br />
  {/section}
</td>
<td>
  {section name=text loop=$graphs}
  {$graphs[text].text}<br />
  {/section}
</td></tr>
{if empty($graphs)}
  <td><b><?php echo tra('Nothing to display')?></b></td>
{/if}
</table>
