pre {
	font-size: 120%;
	color: #1C1D1F;
	background: #f3f3f3;
	padding: 1em 2em;
	border-left: 3px solid #ccc;
	margin-left: 15px;
}

.index {
	float: left;
	background: none repeat scroll;
	padding: 4px;
}

#sidebar a,#sidebar a:visited {
	color: #0088CC;
}

.dbx-content {
	background-color: #F9FFE9;
}

.content {
	padding-left: 20px;
	padding-right: 20px;
}

.content h2 {
	font-weight: bold;
	font-size: 120%;
	margin-bottom: .5em;
	border-bottom: 1px dotted #aaaaaa;
	padding-top: 6px;
}

/* content for the examples */
.content h3 {
	font-weight: bold;
	font-size: 110%;
	margin-bottom: .5em;
	padding-left: 10px;
	padding-top: 35px;
	color: black;
}

.content p {
	margin-left: 15px;
}

.content table {
	border: 1px solid #ECECEA;
}

.content td {
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 6px;
	padding-bottom: 6px;
}

.parameters dt {
	font-weight: bold;
	font-size: 1em;
	color: #000000;
	margin-left: 15px;
}

.padded {
	margin-top: 4px;
	margin-left: 10px;
	margin-bottom: 6px;
}

.parameter-table {
	background-color: #F9F9F9;
}

.parameters dd {
	margin-left: 15px;
	margin-bottom: 10px;
}

.navigator {
	padding-top: 10px;
	font-weight: bold;
	font-size: 80%;
	padding-bottom: 10px;
}

.classDescription {
	font-size: 1.4em;
	padding-bottom: 10px;
}

DIV#catlinks {
	CLEAR: both;
	BORDER-RIGHT: #bbb 1px solid;
	PADDING-RIGHT: 0px;
	BORDER-TOP: #bbb 1px solid;
	PADDING-LEFT: 0px;
	FONT-SIZE: 0.9em;
	BACKGROUND: #eee;
	PADDING-BOTTOM: 0px;
	MARGIN: 40px 0px 0px;
	BORDER-LEFT: #bbb 1px solid;
	PADDING-TOP: 0px;
	BORDER-BOTTOM: #bbb 1px solid
}

DIV#catlinks P {
	PADDING-RIGHT: 5px;
	PADDING-LEFT: 5px;
	PADDING-BOTTOM: 2px;
	MARGIN: 0px;
	PADDING-TOP: 0px
}

.catlink-table {
	WIDTH: 100%
}

.catlink-table TD {
	PADDING-RIGHT: 8px;
	PADDING-LEFT: 8px;
	PADDING-BOTTOM: 8px;
	PADDING-TOP: 8px
}

.catlink-table TD H4 {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	FONT-WEIGHT: bold;
	FONT-SIZE: 1em;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	PADDING-TOP: 0px;
	BORDER-BOTTOM: #bbb 1px solid
}

.catlink-table UL {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	PADDING-BOTTOM: 0px;
	MARGIN: 5px 0px;
	PADDING-TOP: 0px
}

.catlink-table LI {
	MARGIN: 0px 0px 0px 2em;
	LINE-HEIGHT: 1.45em
}

#updatedContent {
	margin-left: 20px;
	margin-right: 20px;
	padding: 10px;
	border: 1px solid #CCCCCC;
	background-color: #FFFFE1;
}

ol {
	list-style-type: decimal;
}

ol ol {
	list-style-type: lower-alpha;
}

ol ol ol {
	list-style-type: lower-roman;
}

ol ol ol ol {
	list-style-type: decimal;
}

ol ol ol ol ol {
	list-style-type: lower-alpha;
}

ol ol ol ol ol ol {
	list-style-type: lower-roman;
}

/*
ul { list-style-type: square; }
ul ul { list-style-type: disc; }
ul ul ul { list-style-type: circle; }
ul ul ul ul { list-style-type: square; }
ul ul ul ul ul { list-style-type: disc; }
ul ul ul ul ul ul { list-style-type: circle; }
*/
ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

li {
	background-position: 0 1px;
	background-repeat: no-repeat;
	color: #5E83C1;
	font-weight: bold;
	line-height: 1.4em;
	padding-left: 20px;
}

li.class {
	background-image: url(class.gif);
}

li.property {
	background-image: url(attribute.gif);
}

li.method {
	background-image: url(function.gif);
}

li.event {
	background-image: url(event.gif);
}

li.config {
	background-image: url(attribute.gif);
}

li.group {
	background-image: url(bracket.gif);
}

span.datatype {
	color: #333333;
	font-weight: bold;
}

table.items-list {
	width: 100%;
	background-color: #F9FFE9;
}

table.items-list td {
	color: #959DAF;
	font-weight: bold;
}

/* COMPATIBILITY TABLES */
tr.compheader {
	
}

tr.compheader th {
	font-weight: normal;
	font-size: 80%;
	text-align: center;
}

td.header {
	background-color: #F2F3EF;
	padding: 0.3em;
}

td.header h3,td.header h4 {
	margin-top: 0.5em;
	text-align: center;
}

td.declaration {
	background-color: #F2F3EF;
	text-align: left;
	vertical-align: top;
	padding-right: 10px;
	color: #666666;
}

td.declaration a {
	text-decoration: none;
}

div.name {
	font-weight: bold;
	margin-bottom: 2em;
	margin-top: 1em;
	font-size: 110%;
}

b.warning {
	display: block;
	margin: 0.5em 0;
}

td.comparison {
	font-family: verdana, sans-serif;
	font-size: 80%;
	text-transform: lowercase;
	text-align: center;
	height: 3em;
	border: 1px solid;
	width: 8%;
	border-collapse: separate;
}

td.yes {
	background-color: #00882D;
	color: #ffffff;
}

td.almost {
	color: #00882D;
	border-width: 3px;
}

td.incomplete {
	color: #00882D;
	border-color: #00882D;
}

td.alternative {
	color: #006699;
}

td.untestable {
	color: #006699;
	border: none;
}

td.minimal {
	color: #CB000F;
}

td.incorrect {
	color: #CB000F;
	border-width: 2px;
}

td.buggy {
	color: #CB000F;
	border-color: #CB000F;
	border-width: 3px;
}

td.no {
	background-color: #CB000F;
	color: #ffffff;
}

td.crash {
	background-color: #535353;
	font-weight: bold;
	text-transform: uppercase;
	color: #ffffff;
}