<h2><?php echo $this->message ?></h2>

<?php if (isset($this->exception)): ?>
<h3>Exception information:</h3>
<p><b>Message:</b> 
<?php echo $this->exception->getMessage() ?></p>

<h3>Stack trace:</h3>
<pre><?php echo $this->exception->getTraceAsString() ?>
</pre>

<h3>Request Parameters:</h3>
<b>Module:</b> <?php echo $this->request->getParam('module');?><br />
<b>Controller:</b> <?php echo $this->request->getParam('controller');?><br />
<b>Action:</b> <?php echo $this->request->getParam('action');?><br />
<pre>
<?php //var_dump( $this->request->getParams() );?>
</pre>
<?php endif ?>
