<?php 
header('Content-type: text/html; charset=UTF-8');
echo $this->doctype();
?>

<html>
<head>

<?php 
$this->headLink ( array ('rel' => 'shortcut icon', 
						'href' => $this->baseUrl(Ranchbe::getConfig()->favicon) ), 'PREPEND' )
	 ->headLink ( array ('rel' => 'icon', 
						'href' => $this->baseUrl(Ranchbe::getConfig()->favicon) ), 'PREPEND' );

$request = Zend_Controller_Front::getInstance()->getRequest();
$this->headTitle( $request->getControllerName() )
     ->headTitle( '/'.$request->getActionName() );

$browser = Ranchbe::getBrowser();

$this->headLink()->offsetSetStylesheet ( 'default', $this->baseUrl(Ranchbe::getConfig()->stylesheet->default) );
$this->headLink()->offsetSetStylesheet ( $browser, $this->baseUrl(Ranchbe::getConfig()->stylesheet->$browser) );
$this->headLink()->offsetSetStylesheet ( 'user', $this->baseUrl(Ranchbe::getConfig()->stylesheet->user) );

$this->headLink()->appendStylesheet( $this->baseUrl('styles/jqgrid/ui.jqgrid.css' ) )
		    	 ->appendStylesheet( $this->baseUrl('styles/jqgrid/ui.multiselect.css' ) )
		    	 ->appendStylesheet( $this->baseUrl('styles/contextmenu/jquery.contextmenu.css' ) )
		    	 ->appendStylesheet( $this->baseUrl('styles/uploadify/uploadify.css' ) )
				 ->appendStylesheet( $this->baseUrl('styles/jquery.multiselect2side.css' ) )
				 ->appendStylesheet( $this->baseUrl('styles/jqueryui/jquery.ui.selectmenu.css' ) );
				 
$this->headMeta ()->appendName ( 'keywords', Ranchbe::getConfig()->keyword )
				  ->appendHttpEquiv ( 'Content-Type', 'text/html; charset=UTF-8' )
			  	  ->appendHttpEquiv ( 'Content-Language', Ranchbe::getConfig()->lang );
?>

<?php echo $this->headTitle();?>
<base href="<?php echo $this->baseUrl(); ?>/">

<?php
echo $this->headMeta();
echo $this->headLink();
echo $this->headStyle();
?>

<?php 
try{
	echo $this->dojo();
	$dojoEnabled = $this->dojo()->isEnabled();
}catch(Exception $e){}
try{
	echo $this->jQuery();
	$jqEnabled = $this->jQuery()->isEnabled();
}catch(Exception $e){}
?>

<?php 
if($jqEnabled){ 
$this->headScript()->appendFile( $this->baseUrl('js/jqgrid/i18n/grid.locale-'.$this->lang.'.js'), 'text/javascript', array() )
				   ->appendFile( $this->baseUrl('js/jqgrid/jquery.jqGrid.min.js' ), 'text/javascript', array() )
				   ->appendFile( $this->baseUrl('js/jqgrid/plugins/ui.multiselect.js'), 'text/javascript', array() )
			  	   ->appendFile( $this->baseUrl('js/jqgrid/plugins/jquery.tablednd.js'), 'text/javascript', array() )
				   ->appendFile( $this->baseUrl('js/uploadify/swfobject.min.js'), 'text/javascript', array() )
				   ->appendFile( $this->baseUrl('js/uploadify/jquery.uploadify.min.js'), 'text/javascript', array() )
				   ->appendFile( $this->baseUrl('js/contextmenu/jquery.contextmenu.src.js'), 'text/javascript', array() )
				   ->appendFile( $this->baseUrl('js/jquery/jquery.jstree.src.js'), 'text/javascript', array() )
				   ->appendFile( $this->baseUrl('js/jquery/jquery.cookie.src.js' ), 'text/javascript', array() )
				   ->appendFile( $this->baseUrl('js/jquery/jquery.form.src.js'), 'text/javascript', array() )
				   ->appendFile( $this->baseUrl('js/jquery/jquery.json.src.js'), 'text/javascript', array() )
				   ->appendFile( $this->baseUrl('js/jquery/jquery.multiselect2side.src.js' ), 'text/javascript', array() )
				   ->appendFile( $this->baseUrl('js/jqueryui/jquery.ui.selectmenu.js' ), 'text/javascript', array() );
	?>
	<script type="text/javascript">
	jQuery.i18n.properties({
		name: 'Messages',
		path: '<?php echo $this->baseUrl('js/lang/'); ?>',
		language: '<?php echo Ranchbe::getConfig()->lang; ?>',
	    mode:'both',
	    encoding:'UTF-8',
	    cache:true,
		callback: function(){}
	});
	jQuery.rb.baseurl = '<?php echo $this->baseUrl(); ?>';
	</script>
<?php 
}
echo $this->headScript();
?>
</head>

<body class="tundra">
<noscript>{tr}BE CAREFUL : You must enable javascript for use RanchBE and enable pop-up{/tr}</noscript>

<?php echo $this->inlineScript();?>

<div id="rb-main">
	<div id="rb-top"><?php echo $this->action('header', 'index', 'index'); ?></div>
	<div id="rb-mid">
		<div id="rb-center">
			<?php echo $this->layout()->content; ?>
		</div>
	</div>
	<div id="rb-bot"><?php echo $this->action('footer', 'index', 'index'); ?></div>
</div>

<div id="rb_dialog" title="Confirm deletion of file" style="display:none;">
	<span class="ui-icon ui-icon-alert" style="float:left; margin:0 5px 5px 0;"></span>
	<p></p>
	<ul></ul>
</div>

<div id="rb-message-box" style="display:none;">
</div>

</body>
</html>
