RanchBE ver:<?php echo $this->ranchbe_version?> build:<?php echo $this->ranchbe_build .'-'. $this->ranchbe_copyright?> 
<a href="http://www.ranchbe.com" title="RanchBE">RanchBE Group</a>
| <?php echo date( '%A %d %B %Y', time() )?>
| <?php echo tra('Connected as') .' '. $this->current_user_name ?>
|<a font href="<?php echo $this->baseUrl('auth/auth/logout')?> "><?php echo tra('Logout')?></a>
|<a href="javascript:popupP('user/adminusers/changemypasswd','myPassword',280,380)"><?php echo tra('Change password')?></a>
|<a href="javascript:popupP('user/preferences/edit/user/me','myPrefs',280,450)"><?php echo tra('Preferences')?></a>
|<a href="javascript:popupP('context/index/index','Context',280, 450)"><?php echo tra('Context')?></a>
|<a href="javascript:popupP('index/about','About', 280, 450)"><?php echo tra('About Ranchbe')?></a>
</font>
|<?php //include('search/searchBar.tpl')?>
