<div id="default_index_tabs">
<ul>
	<li class="tab"><a href="<?php echo $this->baseUrl('home')?>"><span>Home</span></a></li>
	<li class="tab"><a href="<?php echo $this->baseUrl('workplace')?>"><span>Workplace</span></a></li>
	<li class="tab"><a href="<?php echo $this->baseUrl('object')?>"><span>Objects explorer</span></a></li>
	<li class="tab"><a href="<?php echo $this->baseUrl('default/admin')?>"><span>Admin</span></a></li>
</ul>
</div>

<script type="text/javascript">
		$(document).ready(function() {
			$( '#default_index_tabs' ).tabs({ cache: true });
			$( '#default_index_tabs' ).tabs( 'option', 'fx', { opacity: 'toggle' } );

			$('#default_index_tabs').bind('tabsselect', function(event, ui) {
				event.stopPropagation();
				// Objects available in the function context:
			    //ui.tab     // anchor element of the selected (clicked) tab
			    //ui.panel   // element, that contains the selected/clicked tab contents
			    //ui.index   // zero-based index of the selected (clicked) tab
			    
			    //suppress all refresher
			    $('#default_index_tabs > ul .tab img').remove();
			    //add a refresher to active tab
				$(ui.tab.parentNode).append('<img src="<?php echo $this->baseUrl('styles/icons/refresh.png')?>" onClick="rb_default_index_tabreload($(\'#default_index_tabs\'))"/>');
				return true;
			});
			
		});
		
		function rb_default_index_tabreload(tab){
			var selected = tab.tabs( 'option', 'selected' );
			tab.tabs('load', selected);
		}

  </script>
