<?php
if($this->format == 'json'){
	header('Content-type:text/javascript;charset=UTF-8');
	echo $this->component->jsonSerialize();
}
else{
	$className = get_class($this->component);
	$Model = \Rbplm\Sys\Meta\Model::singleton();
	$Properties = $Model->getAppProperties($className);
	$parentId = $this->component->parentId;
	if(!is_array($Properties)){
		$Properties = array();
	}
?>

<h3>
<?php echo $this->component->getName() ?><br />
<i><?php echo $this->component->description ?></i>
</h3>

<table><tr>
<td width="50%">
  <table class="normal">
    <tr><td class="heading" colspan="2"><?php echo tra('Basic properties')?></td></tr>
    <tr><td>Uid</td><td class="thin"><?php echo $this->component->getUid()?></td></tr>
    <tr><td>Name</td><td class="thin"><?php echo $this->component->getName()?></td></tr>
    <tr><td>Label</td><td class="thin"><?php echo $this->component->getLabel()?></td></tr>
    <tr><td>Class</td><td class="thin"><?php echo $className?></td></tr>
    <tr><td>Is Leaf</td><td class="thin"><?php if ($this->component->isLeaf()) echo "TRUE"; else echo "FALSE"?></td></tr>
    <tr><td>Path</td><td class="thin"><?php echo $this->component->getPath()?></td></tr>
    <tr><td>Parent</td><td class="thin"><a class="linkdetail" href="<?php echo $this->baseUrl('/object/index/detail/uid/'. $this->component->parentId)?>"><?php echo $this->component->parentId?></a></td></tr>

    <tr><td class="heading" colspan="2"><?php echo tra('Other properties')?></td></tr>
    <?php 
    	$dateAndTime = array();
    	foreach($Properties as $p){
    		$pname = $p['appName'];
    		$type = $p['appType'];
    		$getter = $p['appGetter'];
    		$getter = false;
    		if($pname[0] == '@' || $pname == 'uid' || $pname == 'name' || $pname == 'label' || $pname == 'class' || $pname == 'path' || $pname == 'parentId' || $pname == 'isLeaf'){
    			continue;
    		}
    		if($p['isagregation'] == true){
    			continue;
    		}
    		if($p['iscomposition'] == true){
    			continue;
    		}
    		if($p['iscollection'] == true){
    			continue;
    		}
    		
    		if($p['appType'] == 'timestamp'){
    			$dateAndTime[] = $p;
    			continue;
    		}
    		
    		if($getter){
    			$value = $this->component->$getter();
    		}
    		else{
    			$value = $this->component->$pname;
    		}
    		
    		echo '<tr><td>'.$pname.'</td><td class="thin">'.$value.'</td></tr>';
    	}
    ?>
    
    <tr><td class="heading" colspan="2"><?php echo tra('Date and time')?></td></tr>
    <?php 
    	foreach($dateAndTime as $p){
    		$pname = $p['appName'];
    		$type = $p['appType'];
    		$getter = $p['appGetter'];
    		$getter = false;
    		
    		if($getter){
    			$value = $this->component->$getter();
    		}
    		else{
    			$value = $this->component->$pname;
    		}
    		
    		echo '<tr><td>'.$pname.'</td><td class="thin">'.$value.'</td></tr>';
    	}
    ?>
  </table>
</td>
<td width="50%"> <!-- Display optionnals fields -->
  <table class="normal">
    <tr><td class="heading" colspan="2"><?php echo tra('Extends properties')?></td></tr>
    <tr>
      <td></td>
      <td></td>
    </tr>
  </table> 
</td>
</tr>
</table>

<?php } ?>