<?php if( !$this->class ) { ?>
	<script type="text/javascript">
	$(document).ready(function(){
		$('#object_create_selectclass_class').bind('change', function(){
			var myClass = this.value;
			var parentId = $('#object_create_selectclass_parentId').val();
			$.get(jQuery.rb.get_base_url('/object/index/getcreateform'), {'class':myClass, 'domain':'application', 'parentId':parentId}, function(data, textStatus, jqXHR){
				$('#default-object-create-properties').html(data);
				$('#default-object-create-properties').show();
				});
			});
		$('#default-object-create-properties').hide();
	});
	</script>
	
	<?php echo $this->form; ?>
	
	<div id="default-object-create-properties">
	</div>

<?php }else{ ?>

	<script type="text/javascript">
		var successMessage = "<?php echo $this->successMessage ?>";
		var failedMessage  = "<?php echo $this->failedMessage ?>";
		
		$(document).ready(function(){
			$('#default-object-create-result').hide();
			if( successMessage ){
				$('#default-object-create-result').html('<p class="rb-error">'+successMessage+'</p>');
				$('#default-object-create-result').show();
			}
			if( failedMessage ){
				$('#default-object-create-result').html('<p class="rb-error">'+failedMessage+'</p>');
				$('#default-object-create-result').show();
			}
		});
	</script>
	
	<?php 
	$this->form->setAction($this->baseUrl('/object/index/getcreateform'));
	
	if($this->isAjax){
		$this->form->removeElement('validate');
	}
	
	echo $this->form;
	?>
	
	<div id="default-object-create-result">
	</div>
<?php } ?>

