<link rel="stylesheet" type="text/css" media="screen"
	href="<?php echo $this->baseUrl('/styles/jquery.treeview.css'); ?>" />
<script
	type="text/javascript"
	src="<?php echo $this->baseUrl('js/jquery/jquery.cookie.src.js'); ?>"></script>
<script
	type="text/javascript"
	src="<?php echo $this->baseUrl('js/jquery/jquery.treeview.src.js'); ?>"></script>
<script
	type="text/javascript"
	src="<?php echo $this->baseUrl('js/jquery/jquery.treeview.edit.src.js'); ?>"></script>
<script
	type="text/javascript"
	src="<?php echo $this->baseUrl('js/jquery/jquery.treeview.async.src.js'); ?>"></script>
<script
	type="text/javascript"
	src="<?php echo $this->baseUrl('js/rb/jquery.rb.objectsExplorer.src.js'); ?>"></script>
<link
	rel="stylesheet" type="text/css" media="screen"
	href="<?php echo $this->baseUrl('js/contextmenu/css/jquery.contextmenu.css'); ?>" />
<script
	type="text/javascript"
	src="<?php echo $this->baseUrl('js/contextmenu/jquery.contextmenu.src.js'); ?>"></script>

<script type="text/javascript">
var menu1 = [
       {'button_create': {
	       	'onclick': function(menuItem, menu) {
				var parentid = this.id;
				jQuery.rb.popup(jQuery.rb.get_base_url('/objects/createinit/parentId/') + parentid);
				return;
			},
    		'uiicon': 'ui-icon ui-icon-document'
           }
    	},
       {'button_delete': {
	       	'onclick': function(menuItem, menu) {
		       	var tree = $("#default_objects_index_tree");
				var uid = this.id;
				var withChild = '';
				var checkedNode = tree.getCheckedNodes();
				var currentNode = tree.getCurrentNode();
				var msg = eval('msg_suppress_warning');
				var ulmsg = $( '#' + jQuery.rb.dialog + ' > ul' )[0];
				var pmsg = $( '#' + jQuery.rb.dialog + ' > p' )[0];
				var li = '';
				
				$.each(checkedNode, function(i, path){
					//paths[i] = path;
					item = $("#default_objects_index_tree").getItem(path);
				  	li = li + '<li>' + path + '</li>';
			  	});
				ulmsg.innerHTML = li;
				pmsg.textContent = msg;
				
				$( '#' + jQuery.rb.dialog ).dialog({
					height:350,
					width: 400,
					modal: true,
					title: eval('msg_deletion_confirmation_title'),
					buttons: {
					"Ok": function() {
						$.get(
								jQuery.rb.get_base_url('/objects/delete'),
									{'uids': uid, 'withChild':withChild },
									function(data, textStatus, jqXHR){
									}
							);
						$( this ).dialog( "close" );
					},
					Cancel: function() {
						$( this ).dialog( "close" );
						$( this ).dialog( "destroy" );
					}
				}
				});
				return;
    		},
    		'uiicon': 'ui-icon ui-icon-document'
           }
    	},
       {'button_copy': {
	       	'onclick': function(menuItem, menu) {
    		},
    		'uiicon': 'ui-icon ui-icon-document'
           }
		},
       {'button_paste': {
	       	'onclick': function(menuItem, menu) {
    		},
    		'uiicon': 'ui-icon ui-icon-document'
           }
		}
      ];


function initTrees() {
	$("#default-objects-index-tree").treeview({
		url: "<?php echo $this->baseUrl('/objects/list/format/treeview'); ?>",
		root: 'RanchbePlm',
		ajax: {
			data: {
				'format': 'treeview',
				'class':'\Rbplm\Model\Component',
				'depth':0,
			},
			type: 'post'
		}
	});
}


$(function() {
	$("#default-objects-index-detail").hide();
	initTrees();
	$("#default-objects-index-tree-refresh").click(function() {
		$("#default-objects-index-tree").empty();
		initTrees();
	});

	function contextmenuCallBack(e){
		var ev = e;
		var me = this;
		var t = 'r';
	}

	
});
</script>

<h1 class="pagetitle">Objects explorer</h1>

<button id="default-objects-index-tree-refresh">Refresh both Trees</button>

<div class="ui-widget ui-widget-content ui-corner-all" style="width: 400px">
	<span class="rb-tree-rbplm_org_root">Rbplm</span>
	<ul id="default-objects-index-tree"></ul>
</div>

<div class="ui-widget ui-widget-content ui-corner-all" id="default-objects-index-detail">
	<p></p>
</div>

