<link rel="stylesheet" type="text/css" media="screen"
	href="<?php echo $this->baseUrl('/styles/tree.css'); ?>" />
<script
	type="text/javascript"
	src="<?php echo $this->baseUrl('js/rb/jquery.tree.js'); ?>"></script>
<script
	type="text/javascript"
	src="<?php echo $this->baseUrl('js/rb/jquery.rb.objectsExplorer.src.js'); ?>"></script>

<link
	rel="stylesheet" type="text/css" media="screen"
	href="<?php echo $this->baseUrl('js/contextmenu/css/jquery.contextmenu.css'); ?>" />
<script
	type="text/javascript"
	src="<?php echo $this->baseUrl('js/contextmenu/jquery.contextmenu.src.js'); ?>"></script>

<h1 class="pagetitle">Objects explorer</h1>

<div
	class="ui-widget ui-widget-content ui-corner-all"
	id="default_objects_index_tree"></div>
<div class="ui-widget ui-widget-content ui-corner-all"
	id="default_objects_index_detail">
<p></p>
</div>

<script>

var menu1 = [
       {'button_create': {
	       	'onclick': function(menuItem, menu) {
				var parentid = this.id;
				jQuery.rb.popup(jQuery.rb.get_base_url('/objects/createinit/parentId/') + parentid);
				return;
			},
    		'uiicon': 'ui-icon ui-icon-document'
           }
    	},
       {'button_delete': {
	       	'onclick': function(menuItem, menu) {
		       	var tree = $("#default_objects_index_tree");
				var uid = this.id;
				var withChild = '';
				var checkedNode = tree.getCheckedNodes();
				var currentNode = tree.getCurrentNode();
				var msg = eval('msg_suppress_warning');
				var ulmsg = $( '#' + jQuery.rb.dialog + ' > ul' )[0];
				var pmsg = $( '#' + jQuery.rb.dialog + ' > p' )[0];
				var li = '';
				
				$.each(checkedNode, function(i, path){
					//paths[i] = path;
					item = $("#default_objects_index_tree").getItem(path);
				  	li = li + '<li>' + path + '</li>';
			  	});
				ulmsg.innerHTML = li;
				pmsg.textContent = msg;
				
				$( '#' + jQuery.rb.dialog ).dialog({
					height:350,
					width: 400,
					modal: true,
					title: eval('msg_deletion_confirmation_title'),
					buttons: {
					"Ok": function() {
						$.get(
								jQuery.rb.get_base_url('/objects/delete'),
									{'uids': uid, 'withChild':withChild },
									function(data, textStatus, jqXHR){
									}
							);
						$( this ).dialog( "close" );
					},
					Cancel: function() {
						$( this ).dialog( "close" );
						$( this ).dialog( "destroy" );
					}
				}
				});
				return;
    		},
    		'uiicon': 'ui-icon ui-icon-document'
           }
    	},
       {'button_copy': {
	       	'onclick': function(menuItem, menu) {
    		},
    		'uiicon': 'ui-icon ui-icon-document'
           }
		},
       {'button_paste': {
	       	'onclick': function(menuItem, menu) {
    		},
    		'uiicon': 'ui-icon ui-icon-document'
           }
		}
      ];

$(function() {
	$("#default_objects_index_detail").hide();
	$("#default_objects_index_tree").treeview({
		showcheck: true,
		oncontextmenu: function(item, e){
			var myMenu = menu1;
			var cmenu = $.contextMenu.create(myMenu, {theme:'vista'});
			cmenu.show(item,e);
			return false;
		},
		onnodeclick: function(item){
			//alert(item.id + '--path:' + item.value);
			$.blockUI({ message: '<h1><img src="<?php echo $this->baseUrl('/img/busy.gif'); ?>" /> Loading...</h1>'});
			$.get(
				jQuery.rb.get_base_url('/objects/detail'),
			    {uid:item.id},
			    function(data, textStatus, jqXHR){
					$("#default_objects_index_detail").html(data);
					$("#default_objects_index_detail").show();
				    $("#default_objects_index_detail").dialog({
						resizable: true,
						height:600,
						width: 800,
						modal: false,
						title: eval('title_object_detail'),
						hide: 'explode',
						show: 'explode',
						buttons: {
							'Ok': function() {
								$( this ).dialog( 'close' );
								$( this ).dialog( 'destroy' );
							}
						}
				    });
					//innerHtml = '<table>';
					//innerHtml = innerHtml + '<tr><td>Property name</td><td>Values</td></tr>';
					//$.each(data, function(pname, pvalue){
					//	innerHtml = innerHtml + '<tr><td>'+ pname +'</td><td>'+ pvalue +'</td></tr>';
					//});
					//innerHtml = innerHtml + '</table>';
					$.unblockUI();
				}
			);
		},
		url: "<?php echo $this->baseUrl('/objects/list/format/wdtree'); ?>",
		cbiconpath: "<?php echo $this->baseUrl('styles/tree/icons/'); ?>",
		data: [{
			"id" : '<?php echo \Rbplm\Org\Root::singleton()->getUid();?>',
			"text" : '<?php echo \Rbplm\Org\Root::singleton()->getName();?>',
			"value" : '<?php echo \Rbplm\Org\Root::singleton()->getPath();?>',
			"showcheck" : true,
			"complete" : false,
			"isexpand" : false,
			"checkstate" : 0,
			"hasChildren" : true,
			"nodeclass": "rb-tree-rbplm_org_root"
		}]
	});
});
</script>
