.htmlarea {
	background: #fff;
}

.htmlarea .toolbar {
	background: ButtonFace;
	padding: 1px;
	border: 1px solid;
	border-color: ButtonHighlight ButtonShadow ButtonShadow ButtonHighlight;
}

.htmlarea .toolbar img {
	border: none;
}

.htmlarea .toolbar .button {
	background: ButtonFace;
	color: ButtonText;
	border: 1px solid ButtonFace;
	padding: 1px;
	margin: 0px;
}

.htmlarea .toolbar .buttonHover {
	border: 1px solid;
	border-color: ButtonHighlight ButtonShadow ButtonShadow ButtonHighlight;
}

.htmlarea .toolbar .buttonActive,.htmlarea .toolbar .buttonPressed {
	padding: 2px 0px 0px 2px;
	border: 1px solid;
	border-color: ButtonShadow ButtonHighlight ButtonHighlight ButtonShadow;
}

.htmlarea .toolbar .buttonPressed {
	background: ButtonHighlight;
}

.htmlarea .toolbar .indicator {
	padding: 0px 3px;
	overflow: hidden;
	width: 20px;
	text-align: center;
	cursor: default;
	border: 1px solid ButtonShadow;
}

.htmlarea .toolbar .buttonDisabled img {
	filter: alpha(opacity =   25);
	-moz-opacity: 25%;
}

.htmlarea .toolbar .separator {
	position: relative;
	margin: 3px;
	border-left: 1px solid ButtonShadow;
	border-right: 1px solid ButtonHighlight;
	width: 0px;
	height: 16px;
	padding: 0px;
}

.htmlarea .toolbar .space {
	width: 5px;
}

.htmlarea .toolbar select {
	font: 11px Tahoma, Verdana, sans-serif;
}

select,select:hover,select:active {
	background: FieldFace;
	color: ButtonText;
}