<h1 class="pagetitle"><?php echo $this->pagetitle ?></h1>

<?php 
$GridWidget = new modules_mockup_widgets_grid_Widget();
$GridWidget->setAttribute('id', 'mockup-index-listgrid');
echo $GridWidget->show();
?>




<!-- 
<ul id="mockup-action-menu">
<li>
	<a href="<?php echo $this->baseUrl('container/index/create'); ?>" popupx="550" popupy="800">
		<span class="add"><?php echo tra('Create') ?></span>
	</a>
</li>
<li>
	<a href="<?php echo $this->baseUrl('container/history/get'); ?>" popupx="1100" popupy="800">
		<span class="histo"><?php echo tra('History') ?></span>
	</a>
</li>
<li>
	<a href="<?php echo $this->baseUrl('import/history/get'); ?>" >
		<span class="histo"><?php echo tra('History import') ?></span>
	</a>
</li>
<li>
	<a href="<?php echo $this->baseUrl('container/categories'); ?>" popupx="450" popupy="1200">
		<span class="info"><?php echo tra('Categories') ?></span>
	</a>
</li>
<li>
	<a href="<?php echo $this->baseUrl('container/metadatas/get'); ?>"  popupx="450" popupy="1200">
		<span class="doctyp"><?php echo tra('Container metadata') ?></span>
	</a>
</li>
<li>
	<a href="<?php echo $this->baseUrl('document/metadatas/get'); ?>" popupx="450" popupy="1200">
		<span class="doctyp"><?php echo tra('Document metadata') ?></span>
	</a>
</li>
<li>
	<a href="<?php echo $this->baseUrl('container/stats/get'); ?>" >
		<span class="stat"><?php echo tra('Statistics') ?></span>
	</a>
</li>
<li>
	<a href="<?php echo $this->baseUrl('container/perms/get'); ?>" popupx="550" popupy="650">
		<span class="key"><?php echo tra('Set permissions') ?></span>
	</a>
</li>
</ul>
 -->


